* {
	font-family: Sans-Serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.25em;
}

  /* color: rgba(192, 184, 75, 0.5); */


body{
  position: relative;
  
  background-color: #000;
  
  /* 100F14 */
  color: #FCFCFC;
  font-size: 18px;
  
  padding-left: 10px;
  padding-right: 10px;
  
  overflow-y: hidden;
  height: 100vh;

  height: 730px;
    
    
  
  /* background-image: url("bg/4.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  
}

.after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   /* чем больше последнее значение, тем темнее */
   /* transition: background-color 0.3s ease; */
   background: rgba(0, 0, 0, 0.8);

 }

.text-second {
  color: #7E8086;
}

[data-span] {
 
 min-width: 40px;
 display: flex;
  justify-content: center;
/*
  width: 20px;
  display: inline-flex;
  justify-content: center;
  */
  
}
[data-pos-point], [data-neg-point] {
  
}

input {
  width: 40px;
}




[data-procent] {
  font-size: 24px;
  font-weight: 500;
}
[data-statmoney-num] {
  font-size: 24px;
  font-weight: 500;
}

[data-profit] {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  
  
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  background-color: rgba(29, 28, 34, 0.5);
}
[data-statmoney-procent] {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  
  
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  background-color: rgba(29, 28, 34, 0.5);
}
button, select, input {
  all: unset;
  
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  background-color: rgba(29, 28, 34, 0.5);
}

.name {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}


[data-pos-point] [data-span] {
  color: rgb(75, 192, 192);
}
[data-neg-point] [data-span] {
  color: rgb(255, 99, 132);
}

[data-pos-add], [data-neg-add], [data-fix], [data-mode], [data-money-pos-add], [data-money-neg-add] {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7E8086;
  
  position: fixed;
  z-index: 50;
}
[data-money-pos-add]._hidden, [data-money-neg-add]._hidden, [data-pos-add]._hidden, [data-neg-add]._hidden, [data-money-neg-add]._block {
   display: none;
}
[data-mode]._hidden {
   display: none;
}

[data-pos-point], [data-neg-point] {
  position: relative;
  z-index: 0;
  
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  /*
  border-bottom: 0.01px solid #100F14;
  */
}
[data-pos-point] [data-pos-decor] {
  background-color: rgba(75, 192, 192, 0.5);
}
[data-neg-point] [data-neg-decor] {
  background-color: rgba(255, 99, 132, 0.5);
}

[data-pos-decor], [data-neg-decor] {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  
  
  width: 0px;
  
  transition: width 0.3s ease;
  
  z-index: -1;

}
[data-pos-decor] {
  
}
[data-neg-decor] {
  
}


.flex {
  display: flex;
  justify-content: space-between;
}



.pos-block {
  width: 50%;
}

.neg-block {
  width: 50%;
}


.block {
  overflow-y: auto;
  
  height: 386px;
  
  
  display: flex;
  justify-content: space-between;
  
  gap: 2px;
}


.top {
  
  position: sticky;
  z-index: 5;
  top: 0px;
  
 
  
  
  /*
  background-color: #100F14;
  */
}

input {
  position: relative;
  z-index: 10;
}

.stat-top {
  display: flex; 
  align-items: center; 
  gap: 2px;
  
  padding-bottom: 10px;
}

.icon {
  max-width: 20px;
  
  
}

.icon img {
  width: 100%;

}




[data-back] {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%) translateY(-50%);
  
  width: 1000px;
  height: 1000px;
  background: radial-gradient(circle closest-side, rgba(161, 114, 22, 0.2), transparent);
  border-radius: 100vmax;
  z-index: 6;
}




[data-stat] {
  padding-top: 10px;
}
[data-stat]._hidden {
   display: none;
}

/* Видео на весь экран */
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 730px; */
    
    
    /* object-fit: cover; */
    
    z-index: -1; /* Размещаем видео под контентом */

    
}
video img {
   max-width: 100%;
 }

[data-fix] {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10;
}
[data-fix]._active {
}



[data-body] {
   display: none;
}
[data-body]._active {
   display: block;
}
[data-body]._hidden {
   display: none;
}
[data-task-main] {
   overflow-y: auto; 
   height: 386px;
}
[data-task-main]._active {
   display: none;
}
[data-task-main]._hidden {
   display: none;
}

[data-mark] {
  position: relative;
  width: 67%;

  display: flex;
  align-items: center;

  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
}

[data-shell] {
   display: flex;
   align-items: center;
}

[data-task-decor] {
  background-color: rgba(75, 182, 192, 0.5);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0%;

}

[data-button] {
  width: 25px;
  height: 25px;
  border-radius: 100vmax;
  cursor: pointer;
  margin-right: 10px;
}

[data-right] {
  display: flex;
  align-items: center;
  position: relative;
}

[data-text] {
  margin-right: 15px;
  flex: 1 0 auto;

  position: relative;
  z-index: 1
}

[data-info] {
  display: flex;
  align-items: center;

  position: relative;
  z-index: 1
}

[data-info]._active {
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 730px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1; /* Размещаем видео под контентом */

  position: fixed

}

[data-date] {
  margin-left: 10px;
  color: gray;
  position: relative;
}

[data-test] {
  cursor: pointer;
}

[data-shell] {
  display: flex;
  align-items: center;

}

[data-shell]._create [data-text] {
   color: rgb(255, 162, 0);
}
[data-shell]._rename [data-text] {
   color: rgb(255, 162, 0);
}
[data-shell]._delete [data-text] {
   color: rgb(255, 162, 0);
}
[data-shell]._cancel [data-text] {
   color: rgb(255, 162, 0);
}

[data-text]._active {
   color: rgb(255, 162, 0);
}


[data-edit] {
   margin-left: 10px;
  color: gray;
 }


[data-video] {
   transition: opacity 0.6s ease;
   opacity: 0;
   pointer-events: none;
}


[data-burger] {
   position: fixed;
   top: 0;
   right: -80%;
   width: 80%;
   height: 100%;
   background-color: #3C3C3C;
   z-index: 1000;

   transition: right 0.3s ease;
}

[data-burger]._active{
   right: 0;
}

[data-burger] * {
   display: block;
   width: 100%;
   padding-left: 15px;
   padding-top: 15px;
   padding-bottom: 15px;
   /* border-top: 1px solid red; */
   border-bottom: 1px solid #3C3C3C;
   border-radius: 0px;
}

[data-shadow] {
   background-color: rgba(0, 0, 0, 0.1);

   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 900;


   opacity: 0;
   pointer-events: none;
   
   transition: opacity 0.3s ease;
}

[data-shadow]._active {
   opacity: 1;
   pointer-events: all;

}
[data-task-shadow] {
   background-color: rgba(0, 0, 0, 0.1);

   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 900;


   opacity: 0;
   pointer-events: none;
   
   transition: opacity 0.3s ease;
}

[data-task-shadow]._active {
   opacity: 1;
   pointer-events: all;

}

[data-dropdown] {
   position: absolute;
   top: 100%;
   right: 0;
   display: block;
   background-color: rgba(60, 60, 60, 1);
   z-index: 1000;
   border-radius: 5px;

   display: flex;
   flex-direction: column;
}
[data-dropdown] button {
   color: white;
   border-radius: 0px;
   flex: 1 0 auto;
}
[data-dropdown] button:not(:last-child) {
   border-bottom: 1px solid #3C3C3C;
}



[data-chart] {
   display: none;

}
[data-chart-2] {
   display: none;

}


[data-chart]._active {
   display: block;
}
[data-chart-2]._active {
   display: block;
}



[data-money] {
   display: none;
}
[data-money-shell] {
   display: flex;
   align-items: center;
   justify-content: space-between;

   width: 60%;

   padding-top: 2.5px;
   padding-bottom: 2.5px;
}



[data-money-profit] {
   color: rgb(255, 230, 2);
}
[data-money-lose] {
   color: rgb(255, 99, 132);
}

[data-money-stat] {
   padding-top: 10px;
}
[data-money-stat]._hidden {
   display: none;
}

[data-money-create-categorie] {
   width: 30px;
  height: 30px;
  border-radius: 10px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7E8086;
  
  position: fixed;
  z-index: 50;
}


[data-money-categories] {
  border-radius: 5px;
  
  display: none;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(60, 60, 60, 1);
  
  position: fixed;
  z-index: 50;

  font-size: 14px;
    font-weight: 500;

   overflow: hidden;
}

[data-money-categorie] {
   color: white;
   background-color: rgba(29, 28, 34, 0.5);

   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 10px;
   padding-right: 10px;
}

[data-money-categorie]:not(:last-child) {
   border-bottom: 1px solid #3C3C3C;

}
[data-money-categories] {
   display: none;
}



[data-money-tabs] {
   display: flex;
   align-items: center;
   gap: 15px;

   /* border-bottom: 1px solid #3C3C3C; */
   margin-bottom: 7.5px;
   font-size: 16px;

}

[data-money-tab]._active {
   border-bottom: 1px solid rgb(255, 230, 2);

} 

[data-money]._active {
   display: block;
}


[data-money-tab] {
   padding-top: 10px;
   padding-bottom: 10px;

   border-bottom: 1px solid transparent;

} 

[data-assets] {
   display: none;

   width: 70%;
   font-size: 18px;
}
[data-assets]._active {
   display: block;
}

[data-asset] {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;

   padding-top: 2px;
   padding-bottom: 2px;
}




[data-asset-text]._active {
   color: orange;
}